.pagetitle {
    margin-top: 10px;
}

.section-content {
    margin: 12px auto;
}

.topic-abstract p {
    margin: 0 0;
}

.topic-abstract {
    margin-bottom: 0px;
}

h1 {
    font-size: 36px;
    margin: 50px 0 10px 0;
}

h2 {
    font-size: 24px;
    margin: 18px 0;
}
